<div>
<a href="http://www.fandango.com/_movietimes?wss=link728x90"><img src="http://www.statf.com/r94.8/redesign/areas/staticpages/img/linktous/search/728x90/v1.gif" border="0" alt="Find Theater Showtimes" /></a>
<script type="text/javascript" src="http://www.fandango.com/affiliatewidget_srchban_728x90.js?r=240_716140"></script>
</div>


<h1>Movies</h1>
</p>
<h3>What's showing on Netflix</h3>
<p><a href www.netflix.com>Netflix Placeholder</p></a>

<div>
<rss xmlns:fan="http://www.fandango.com/namespaces/edialog" version="2.0">
<channel>
<title>Coming Soon Movies</title>
<link>
<![CDATA[
http://www.fandango.com/default.aspx?wssaffid=11839&wssac=123
]]>
</link>
<description>See this week's Coming Soon Movies on Fandango.com</description>
<language>en-us</language>
<br>
<copyright>Copyright 2014 Fandango</copyright>
<pubDate>Thu, 06 Nov 2014 21:27:12 GMT</pubDate>
<ttl>1440</ttl>
<image>
<url>
http://images.fandango.com/r94.8/images/global/fandango_rss_logo.gif
</url>
<title>Coming Soon Movies</title>

<link>
<![CDATA[
http://www.fandango.com/default.aspx?wssaffid=11839&wssac=123
]]>
</link>
</image>
</channel>
<item>

<title>
<![CDATA[ Beyond the Lights ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/beyondthelights_175146/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/beyondthelights_175146/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/175146/images/masterrepository/fandango/175146/beyondthelights-ps-1.jpg" alt="Beyond the Lights" title="Beyond the Lights" border="0" /></a> Opens Friday, Nov 14, 2014</p><p>A troubled star and an aspiring politician fall in love, but those around the couple urge them to put their careers ahead of romance.</p><p><a href="http://www.fandango.com/beyondthelights_175146/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/beyondthelights-trailer/175146?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/beyondthelights_175146/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/beyondthelights-trailer/175146
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 5 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/beyondthelights_175146/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/beyondthelights_175146/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/175146/images/masterrepository/fandango/175146/beyondthelights-ps-1.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:12 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ Dumb and Dumber To ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/dumbanddumberto_170279/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/dumbanddumberto_170279/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/170279/images/masterrepository/fandango/170279/ddt_tsr1sheet_0620_1_sm.jpg" alt="Dumb and Dumber To" title="Dumb and Dumber To" border="0" /></a> Opens Friday, Nov 14, 2014</p><p>Jim Carrey and Jeff Daniels reprise their signature roles as Lloyd and Harry in the sequel to the smash hit that took the physical comedy and kicked it in the nuts: Dumb and Dumber To. The original film’s directors, Peter and Bobby Farrelly, take Lloyd and Harry on a road trip to find a child Harry never knew he had and the responsibility neither should ever, ever be given.</p><p><a href="http://www.fandango.com/dumbanddumberto_170279/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/dumbanddumberto-trailer/170279?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/dumbanddumberto_170279/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/dumbanddumberto-trailer/170279
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 4.58 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/dumbanddumberto_170279/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/dumbanddumberto_170279/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/170279/images/masterrepository/fandango/170279/ddt_tsr1sheet_0620_1_sm.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:11 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ The Hunger Games: Mockingjay - Part 1 ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/thehungergames:mockingjaypart1_159275/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/thehungergames:mockingjaypart1_159275/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/159275/images/masterrepository/fandango/159275/mockingjaypart1_theatricalposter_fandangowebsite.jpg" alt="The Hunger Games: Mockingjay - Part 1" title="The Hunger Games: Mockingjay - Part 1" border="0" /></a> Opens Friday, Nov 21, 2014</p><p>The worldwide phenomenon of The Hunger Games continues to set the world on fire with The Hunger Games: Mockingjay - Part 1, which finds Katniss Everdeen (Jennifer Lawrence) in District 13 after she literally shatters the games forever. </p><p><a href="http://www.fandango.com/thehungergames:mockingjaypart1_159275/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/thehungergames:mockingjaypart1-trailer/159275?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/thehungergames:mockingjaypart1_159275/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/thehungergames:mockingjaypart1-trailer/159275
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 4.5 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/thehungergames:mockingjaypart1_159275/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/thehungergames:mockingjaypart1_159275/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/159275/images/masterrepository/fandango/159275/mockingjaypart1_theatricalposter_fandangowebsite.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:10 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ Horrible Bosses 2 ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/horriblebosses2_170281/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/horriblebosses2_170281/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/170281/images/masterrepository/fandango/170281/horriblebosses2-ps-2.jpg" alt="Horrible Bosses 2" title="Horrible Bosses 2" border="0" /></a> Opens Wednesday, Nov 26, 2014</p><p>Nick, Dale and Kurt plot revenge on a thieving investor.</p><p><a href="http://www.fandango.com/horriblebosses2_170281/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/horriblebosses2-trailer/170281?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/horriblebosses2_170281/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/horriblebosses2-trailer/170281
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 4.66 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/horriblebosses2_170281/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/horriblebosses2_170281/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/170281/images/masterrepository/fandango/170281/horriblebosses2-ps-2.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:09 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ Penguins of Madagascar ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/penguinsofmadagascar_175199/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/penguinsofmadagascar_175199/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/175199/images/masterrepository/fandango/175199/2014_penguins_of_madagascar_xlg.jpg" alt="Penguins of Madagascar" title="Penguins of Madagascar" border="0" /></a> Opens Wednesday, Nov 26, 2014</p><p>Super spy teams aren’t born…they’re hatched. Skipper, Kowalski, Rico and Private now must join forces with the North Wind to stop the cunning villain Dr. Octavius Brine from taking over the world.</p><p><a href="http://www.fandango.com/penguinsofmadagascar_175199/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/penguinsofmadagascar-trailer/175199?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/penguinsofmadagascar_175199/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/penguinsofmadagascar-trailer/175199
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 4.63 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/penguinsofmadagascar_175199/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/penguinsofmadagascar_175199/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/175199/images/masterrepository/fandango/175199/2014_penguins_of_madagascar_xlg.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:08 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ The Pyramid ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/thepyramid_175695/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/thepyramid_175695/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/images/no_image_111x168.jpg" alt="The Pyramid" title="The Pyramid" border="0" /></a> Opens Friday, Dec 5, 2014</p><p>A team of U.S. archaeologists gets more than they bargained for when they discover a lost pyramid unlike any other in the Egyptian desert.</p><p><a href="http://www.fandango.com/thepyramid_175695/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/thepyramid-trailer/175695?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/thepyramid_175695/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/thepyramid-trailer/175695
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 5 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/thepyramid_175695/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/thepyramid_175695/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/images/no_image_111x168.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:07 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ Exodus: Gods and Kings ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/exodus:godsandkings_175121/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/exodus:godsandkings_175121/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/175121/images/masterrepository/fandango/175121/exodus-gods-and-kings-poste.jpg" alt="Exodus: Gods and Kings" title="Exodus: Gods and Kings" border="0" /></a> Opens Friday, Dec 12, 2014</p><p>Ridley Scott brings new life to the story of the defiant leader Moses (Christian Bale) as he rises up against the Egyptian Pharaoh Ramses (Joel Edgerton).</p><p><a href="http://www.fandango.com/exodus:godsandkings_175121/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/exodus:godsandkings-trailer/175121?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/exodus:godsandkings_175121/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/exodus:godsandkings-trailer/175121
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 5 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/exodus:godsandkings_175121/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/exodus:godsandkings_175121/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/175121/images/masterrepository/fandango/175121/exodus-gods-and-kings-poste.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:06 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ Annie (2014) ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/annie2014_132214/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/annie2014_132214/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/132214/images/masterrepository/fandango/132214/annie_dgtl_mkt_tsr_lk2_1.jpg" alt="Annie (2014)" title="Annie (2014)" border="0" /></a> Opens Friday, Dec 19, 2014</p><p></p><p><a href="http://www.fandango.com/annie2014_132214/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/annie2014-trailer/132214?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/annie2014_132214/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/annie2014-trailer/132214
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 3.62 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/annie2014_132214/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/annie2014_132214/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/132214/images/masterrepository/fandango/132214/annie_dgtl_mkt_tsr_lk2_1.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:05 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ The Hobbit: The Battle of the Five Armies ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/thehobbit:thebattleofthefivearmies_143303/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/thehobbit:thebattleofthefivearmies_143303/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/143303/images/masterrepository/fandango/143303/teaser_poster_hbfa_1sht_tsr.jpg" alt="The Hobbit: The Battle of the Five Armies" title="The Hobbit: The Battle of the Five Armies" border="0" /></a> Opens Wednesday, Dec 17, 2014</p><p>Men, Dwarves and Elves must unite or be destroyed.</p><p><a href="http://www.fandango.com/thehobbit:thebattleofthefivearmies_143303/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/thehobbit:thebattleofthefivearmies-trailer/143303?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/thehobbit:thebattleofthefivearmies_143303/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/thehobbit:thebattleofthefivearmies-trailer/143303
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 4.5 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/thehobbit:thebattleofthefivearmies_143303/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/thehobbit:thebattleofthefivearmies_143303/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/143303/images/masterrepository/fandango/143303/teaser_poster_hbfa_1sht_tsr.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:04 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ Night at the Museum: Secret of the Tomb ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/nightatthemuseum:secretofthetomb_174880/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/nightatthemuseum:secretofthetomb_174880/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/images/no_image_111x168.jpg" alt="Night at the Museum: Secret of the Tomb" title="Night at the Museum: Secret of the Tomb" border="0" /></a> Opens Friday, Dec 19, 2014</p><p> Larry (Ben Stiller) spans the globe, uniting favorite and new characters while embarking on an epic quest to save the magic before it is gone forever.</p><p><a href="http://www.fandango.com/nightatthemuseum:secretofthetomb_174880/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> </p><p><a href="http://www.fandango.com/nightatthemuseum:secretofthetomb_174880/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/nightatthemuseum:secretofthetomb-trailer/174880
]]>
</fan:trailer>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/nightatthemuseum:secretofthetomb_174880/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/nightatthemuseum:secretofthetomb_174880/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/images/no_image_111x168.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:03 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ The Interview ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/theinterview_174450/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/theinterview_174450/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/174450/images/masterrepository/fandango/174450/theinterview-ps-1.jpg" alt="The Interview" title="The Interview"
]]>
<![CDATA[
border="0" /></a> Opens Thursday, Dec 25, 2014</p><p>In the action-comedy The Interview, Dave Skylark (James Franco) and his producer Aaron Rapoport (Seth Rogen) run the popular celebrity tabloid TV show “Skylark Tonight.” When they discover that North Korean dictator Kim Jong-un is a fan of the show, they land an interview with him in an attempt to legitimize themselves as journalists. As Dave and Aaron prepare to travel to Pyongyang, their plans change when the CIA recruits them, perhaps the two least-qualified men imaginable, to assassinate Kim Jong-un.</p><p><a href="http://www.fandango.com/theinterview_174450/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/theinterview-trailer/174450?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/theinterview_174450/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/theinterview-trailer/174450
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 3.5 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/theinterview_174450/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/theinterview_174450/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/174450/images/masterrepository/fandango/174450/theinterview-ps-1.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:02 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ Into the Woods ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/intothewoods_168011/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/intothewoods_168011/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/168011/images/masterrepository/fandango/168011/itw_1-sht_v18_lg.jpg" alt="Into the Woods" title="Into the Woods" border="0" /></a> Opens Thursday, Dec 25, 2014</p><p>This humorous and heartfelt musical follows the classic tales of Cinderella (Anna Kendrick), Little Red Riding Hood (Lilla Crawford), Jack and the Beanstalk (Daniel Huttlestone), and Rapunzel (MacKenzie Mauzy)—all tied together by an original story involving a baker and his wife (James Corden & Emily Blunt), their wish to begin a family and their interaction with the witch (Meryl Streep) who has put a curse on them.</p><p><a href="http://www.fandango.com/intothewoods_168011/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/intothewoods-trailer/168011?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/intothewoods_168011/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/intothewoods-trailer/168011
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 5 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/intothewoods_168011/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/intothewoods_168011/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/168011/images/masterrepository/fandango/168011/itw_1-sht_v18_lg.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:01 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ Unbroken ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/unbroken_163038/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/unbroken_163038/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/images/no_image_111x168.jpg" alt="Unbroken" title="Unbroken" border="0" /></a> Opens Thursday, Dec 25, 2014</p><p>The incredible life of Olympian and war hero Louis “Louie” Zamperini.</p><p><a href="http://www.fandango.com/unbroken_163038/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> <a href="http://www.fandango.com/movie-trailer/unbroken-trailer/163038?wssaffid=11839&wssac=123">Play Trailers</a></p><p><a href="http://www.fandango.com/unbroken_163038/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/unbroken-trailer/163038
]]>
</fan:trailer>
<fan:fanRating>
<![CDATA[ 5 ]]>
</fan:fanRating>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/unbroken_163038/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[ http://www.fandango.com/unbroken_163038/movietimes ]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/images/no_image_111x168.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:27:00 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<item>
<title>
<![CDATA[ The Woman In Black: Angel of Death ]]>
</title>
<link>
<![CDATA[
http://www.fandango.com/thewomaninblack:angelofdeath_177750/movieoverview?wssaffid=11839&wssac=123
]]>
</link>
<description>
<![CDATA[
<p><a href="http://www.fandango.com/thewomaninblack:angelofdeath_177750/movieoverview?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/177750/images/masterrepository/fandango/177750/wib2_2b_fin04-hi-res-sn.jpg" alt="The Woman In Black: Angel of Death" title="The Woman In Black: Angel of Death" border="0" /></a> Opens Friday, Jan 2, 2015</p><p>The sequel takes place in the same house 40 years later when a group of children who are evacuated from London during World War II come to stay and awaken the house’s darkest inhabitants.</p><p><a href="http://www.fandango.com/thewomaninblack:angelofdeath_177750/movieoverview?wssaffid=11839&wssac=123">Movie Details</a> </p><p><a href="http://www.fandango.com/thewomaninblack:angelofdeath_177750/movietimes?wssaffid=11839&wssac=123"><img src="http://images.fandango.com/r94.8//images/global/buy_tickets.gif" alt="Buy Tickets" title="Click here to see showtimes and buy tickets!" border="0" /></a></p>
]]>
</description>
<author>affiliates@fandango.com</author>
<fan:trailer>
<![CDATA[
http://www.fandango.com/movie-trailer/thewomaninblack:angelofdeath-trailer/177750
]]>
</fan:trailer>
<fan:reviewLink>
<![CDATA[
http://www.fandango.com/thewomaninblack:angelofdeath_177750/moviereviews
]]>
</fan:reviewLink>
<fan:buyTickets>
<![CDATA[
http://www.fandango.com/thewomaninblack:angelofdeath_177750/movietimes
]]>
</fan:buyTickets>
<category>Top 10 Coming Soon Movies</category>
<enclosure url="http://images.fandango.com/r94.8/ImageRenderer/111/168/images/no_image_111x168.jpg/177750/images/masterrepository/fandango/177750/wib2_2b_fin04-hi-res-sn.jpg" length="1" type="image/jpeg"/>
<pubDate>Thu, 06 Nov 2014 21:26:59 GMT</pubDate>
<source url="http://www.fandango.com/rss/comingsoonmovies.rss?wssac=123&wssaffid=11839">Coming Soon Movies</source>
</item>
<fan:otherLink>
<![CDATA[ http://www.fandango.com/moviesintheaters ]]>
</fan:otherLink>
<fan:homepage>
<![CDATA[ http://www.fandango.com ]]>
</fan:homepage>
</channel>
</rss>