<div>
<a href="http://www.fandango.com/_movietimes?wss=link728x90"><img src="http://www.statf.com/r94.8/redesign/areas/staticpages/img/linktous/search/728x90/v1.gif" border="0" alt="Find Theater Showtimes" /></a>
<script type="text/javascript" src="http://www.fandango.com/affiliatewidget_srchban_728x90.js?r=240_716140"></script>
</div>

<h1>Movies</h1>

<table class="table-responsive" width = "100%">
  <thead>
    <tr>
      <th>In Theaters</th>
      <th>What's playing on Netflix</th>
    </tr>
    </thead>  
    <tbody >
      <tr>
        <td>What's playing in Theaters
        </td>
        <td><a href www.netflix.com>Netflix Placeholder may 5 movies and then a link</a>
        </td>
      </tr>
    </tbody>
</table>

