<% if current_user %>
<div><%= link_to 'Add Movie', new_movie_path %></div>
<h1>My Movies</h1>

    <% @movies.each do |movie| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
        <td><%= link_to (image_tag movie.image.url(:medium), class: 'image') , movie %></td>
        <td><%= link_to movie.title, movie %></td> |
        <td><%= link_to 'Remove', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
      </div>
      </div>
    <% end %>
  </tbody>
</table>
<% end %>



