<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @reviewtune.comment %>
</p>

<%= link_to 'Edit', edit_reviewtune_path(@reviewtune) %> |
<%= link_to 'Back', reviewtunes_path %>
