<div style="background:transparent !important" class="jumbotron">
<div class="container">

  <h1>
     <span style="color: #ffffff;">Media Haven</span>
  </h1>
  <p align="center">Media Haven is a place you can add TV Shows and Movies so they can be reviewed!</p>
  <p align="center">
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-info :hover' %>
  </p>
</div>
</div>

<div>
<table class="table-responsive" style= "float:left" width= "50%">
  <thead>
    <tr>
     <th><span style="color: #ffffff;">Current Movies</th></span>
    </tr>
  </thead>  
    <tbody >
    <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, movie %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  </div>

  <div>
  <table class= "table-responsive" width= "50%">
  <thead>
    <tr>
   <th><span style="color: #ffffff;">Current TV</th></span>
   </tr>
    </thead> 
      <tbody >
      <% @shows.each do |show| %>
        <tr>
         <td><%= link_to show.title, show %></td>
      </tr>
       <% end %>
    </tbody>
</table>
</div>
