<div style="background:transparent !important" class="jumbotron">
<div class="container">

  <h1 align="center">The Haven</h1>
  <p align="center">The Haven is a place to view what's showing in theaters and on network TV!</p>
  <p align="center">
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-info :hover' %>
  </p>
</div>
</div>


<table class="table-responsive" width = "100%">
  <thead>
    <tr>
      <th>Current Movies</th>
      <th>Current TV</th>
    </tr>
    </thead>  
    <tbody >
      <tr>
        <td>Blah Blah This
        </td>
        <td>Blah Blah That
        </td>
      </tr>
    </tbody>
</table>
  


