@import "bootstrap";

.hide {
  display: none;
}

.nav {
  margin-top: 5px;
}

.user-info {
  margin-top: 9px;
}

body {
  background: #000A00;
}

a {
  color: #FFFFFF;
}

p {
  color: #33CCFF;
}

h1 {
    text-align: center;
    color: #FFFFFF;
}

th{
  color: #33CCFF;
}

h5 {
    text-align: center;
    color: #33CCFF;
}

label {
  color: #FFFFFF;
}

file field
{
  color: #FFFFFF;
}
